<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <%= link_to 'StockTracker', root_path, class: "navbar-brand" %>

    <% if current_user %>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to "My portfolio", my_portfolio_path %></li>
          <li><%= link_to "My profile", edit_user_registration_path %></li>
          <li><%= link_to "My friends", my_friends_path %></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li>
            <p class="navbar-text">
              <i class="fa fa-user"></i>
              <%= current_user.full_name.present? ? current_user.full_name : current_user.email %>
            </p>
          </li>

          <li>
            <%= button_to "Logout",
                          destroy_user_session_path,
                          method: :delete,
                          class: "btn navbar-btn btn-danger btn-xs" %>
          </li>
        </ul>
      </div>
    <% end %>

  </div>
</div>
